<footer class="footer mt-4">
    <div class="container">
        &copy;Аукцион предметов, ваши права не защищены, не надейтесь - 
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">Privacy</a>
    </div>
</footer>