<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcLesson.Core</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Index">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Main" asp-action="CreateLot">Опубликовать свой лот</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link" asp-area="" asp-controller="Main" asp-action="AddItem">Создать выдуманный игровой предмет</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Items">Все игры</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Authorization">Войти/Зарегистрироваться</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" asp-area="" asp-controller="Main" asp-action="UserCabinet">Личный кабинет</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @await Html.PartialAsync("_CSSPartial")
</header>